<!DOCTYPE html>
<html xmlns:number="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Course.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/ui-bootstrap-0.12.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
</head>
</head>
<body>

<div ng-app="myApp" ng-controller="detail_ctrl">
    <script type="text/ng-template" id="commentModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Comment:</h3>
            <h4 class="modal-title" id="myModalLabel">
                <div style="width: 150px;">
                    <div class="input-group">
                        <span class="input-group-addon">Score</span>
                        <input id="model_comment_avg_score" type="text" class="form-control" readonly="readonly"/>
                    </div>
                </div>
            </h4>
        </div>
        <div class="modal-body">

            <div id="model_comment_body" ng-init="load_comment()">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu"
                    aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <h2 class="navbar-brand">T&L </h2>
        </div>
    </nav>
    <div class="box" ng-init="init_course_detail()">
        <div class="header">
            <div class="li_box1">
                <!--<input id="is_selected" type="checkbox" class="li_box_che">-->
                <p class="li_box_p">
                    <img width="74px" height="74px" src="../images/demo.jpg">
                </p>
                <button id="teacber_info_btn" ng-click="show_teacher_message()" type="button" class="btn btn-primary li_box_b1"
                        data-toggle="button">Teacher
                </button>
                <button ng-if="isStudent && !isSelected" ng-click="select_course()" type="button" class="btn btn-primary li_box_b2" data-toggle="button">
                    Learn
                </button>
                <button ng-if="!(isStudent && !isSelected)" disabled="disabled" type="button" class="btn btn-primary li_box_b2" data-toggle="button">
                    Learn
                </button>
            </div>
            <div class="li_box2">
                <p id="courseName" style="float: left;margin-left: 8px;font-size: 20px;"></p>
                <div class="input-group" style="float: right;width: 35%;">
                    <!--input type="text" style="float: right;text-align: center;" class="form-control input-mini" readonly="readonly"-->
                    <span ng-click="show_comment()" class="input-group-addon btn btn-primary">Comment</span>
                </div>
                <br/>
                <p id="courseInfo" contenteditable="true"
                   style="margin-top: 30px;margin-left:3px;height: 100px;padding: 10px;width: 100%;overflow-x:auto ;background: rgba(255,255,255,0.5);border:2px solid #fff;border-radius: 10px;box-shadow: 10px 10px 5px #888888;"></p>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="content">
            <ul class="nav nav-pills nav-stacked box_ul">
                <li style="text-align: center;"><a data-toggle="tab" href="#menu3">Plan</a></li>
                <!--<li class="active" style="text-align: center;"><a data-toggle="tab" href="#home">Homeworks</a></li>-->
                <li ng-click="load_material_list()" style="text-align: center;"><a data-toggle="tab" href="#menu1">Materials</a></li>
                <!--<li style="text-align: center;"><a data-toggle="tab" href="#menu2">Videos</a></li>-->
            </ul>
            <br/>
            <div class="tab-content box_div">
                <!--<div id="home" class="tab-pane fade in active" style="height: 100%;">-->
                    <!--&lt;!&ndash;<ul class="nav nav-pills nav-stacked"&ndash;&gt;-->
                        <!--&lt;!&ndash;style="height: 100%;width: 30%;float: left;border-right: 2px solid #000;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="active" style="text-align: center;"><a data-toggle="tab"&ndash;&gt;-->
                                                                          <!--&lt;!&ndash;href="#fuhome">Homework-1</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li style="text-align: center;"><a data-toggle="tab" href="#fumenu1">Homework-2</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li style="text-align: center;"><a data-toggle="tab" href="#fumenu2">Project-1</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                    <!--<div class="tab-content" style="height: 100%;width: 70%;float: right;">-->
                        <!--<div id="fuhome" class="tab-pane fade in active" style="padding: 3% 2%;">-->
                            <!--1 Praesent accumsan ligula eget elit porta, sed efficitur est varius. Sed quam tellus,-->
                            <!--iaculis vel ante nec, tincidunt tempus ipsum.-->
                        <!--</div>-->
                        <!--<div id="fumenu1" class="tab-pane fade" style="padding: 3% 2%;">-->
                            <!--2 Praesent accumsan ligula eget elit porta, sed efficitur est varius. Sed quam tellus,-->
                            <!--iaculis vel ante nec, tincidunt tempus ipsum.-->
                        <!--</div>-->
                        <!--<div id="fumenu2" class="tab-pane fade" style="padding: 3% 2%;overflow: hidden;">-->
                            <!--3 Praesent accumsan ligula eget elit porta, sed efficitur est varius. Sed quam tellus,-->
                            <!--iaculis vel ante nec, tincidunt tempus ipsum.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div id="menu3" class="tab-pane fade in active" style="height: 100%;width: 100%;">
                    <div id="coursePlan"
                         style="padding: 3% 2%;word-wrap : break-word ;height:100%;width:100%;word-break:break-all;overflow-y: auto;overflow-x: auto;">
                        plan
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="i in materials" style="text-align: center;width: 100%;">
                            <a href="{{'http://123.207.6.234:8080/TL/' + i.path}}">{{i.name}}</a>
                        </li>
                        <li style="text-align: center;width: 100%;" ng-if="!isStudent">
                            <input style="color: black;float: left;padding-left: 37%;padding-right: 10%;padding-top: 2%;" id="fileToUpload" type ="file"/>
                            <button ng-click="doUploadFile()" type="button" class="btn btn-primary ">
                            Upload
                            </button>
                        </li>
                    </ul>
                </div>

                <!--<div id="menu2" class="tab-pane fade" style="height: 100%;">-->
                    <!--<ul class="nav nav-pills nav-stacked"-->
                        <!--style="height: 100%;width: 30%;float: left;border-right: 2px solid #000;">-->
                        <!--<li class="active" style="text-align: center;"><a data-toggle="tab" href="#fu2home">Video-1</a>-->
                        <!--</li>-->
                        <!--<li style="text-align: center;"><a data-toggle="tab" href="#fu2menu1">Video-2</a></li>-->
                    <!--</ul>-->
                    <!--<br/>-->
                    <!--<div class="tab-content" style="height: 100%;width: 70%;float: right;text-align: center;">-->
                        <!--<div id="fu2home" class="tab-pane fade in active" style="padding: 3% 2%;">-->
                            <!--video1-->
                        <!--</div>-->
                        <!--<div id="fu2menu1" class="tab-pane fade" style="padding: 3% 2%;">-->
                            <!--video2-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script src="../js/Common.js"></script>
<script src="../js/Detail.js"></script>
</body>
</html>
