<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sign</title>
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
		<link rel="stylesheet" href="../css/Sign.css">  
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/jquery.min.js"></script>
	</head>
</head>
<body>
<div ng-app="myApp" ng-controller="sign_ctrl">
	<div class="header">
		<div id="messageBox" class="alert alert-error hide">
			<button data-dismiss="alert" class="close">×</button>
			<label id="loginError" class="error"></label>
		</div>
	</div>
	<div class="bigbox">
		<!--左边图片-->
		<div class="font">
			<img src="../images/bg.jpg" height="155px" width="300px" class="img-rounded">
		</div>
		<form id="loginForm" class="form-signin" action="#" method="post">
			<!--导航页-->
		    <ul class="nav nav-tabs">
			    <li class="active nav_button"><a data-toggle="tab" href="#home">Sign in</a></li>
			    <li class="nav_button"><a data-toggle="tab" href="#menu1">Sign up</a></li>
			</ul>
		    <br />
		    <div class="tab-content">
		    	<!--sign in 联动页-->
			    <div id="home" class="tab-pane fade in active">
			        <div class="input-group">
			            <span class="input-group-addon">&nbsp;&nbsp;Account&nbsp;</span>
			            <input ng-model="sign_in_acc" type="text" class="form-control" placeholder="Account">
			        </div>
			        <br />
			        <div class="input-group">
			            <span class="input-group-addon">Password</span>
			            <input ng-model="sign_in_pwd" type="text" class="form-control" placeholder="Password">
			        </div> <br />
			        <input
							ng-click="sign_in(sign_in_acc, sign_in_pwd)"
							style="float: right;" class="btn btn-primary" type="submit" value="Sign in">
			    </div>
			    <!--sign up 联动页-->
			    <div id="menu1" class="tab-pane fade">
			        <div class="input-group">
			            <span class="input-group-addon">School ID</span>
			            <input ng-model="sign_up_id" type="text" class="form-control" placeholder="School ID">
			        </div>
			        <br />
			        <div class="input-group">
			            <span class="input-group-addon">&nbsp;&nbsp;Account&nbsp;</span>
			            <input ng-model="sign_up_acc" type="text" class="form-control" placeholder="Account">
			        </div>
			        <br />
			        <div class="input-group">
			            <span class="input-group-addon">Password</span>
			            <input ng-model="sign_up_pwd" type="text" class="form-control" placeholder="Password">
			        </div> <br />
			        <input
							ng-click="sign_up(sign_up_id, sign_up_acc, sign_up_pwd)"
							style="float: right;" class="btn btn-primary" type="submit" value="Sign up">
			    </div>
		    </div>
	       
		</form>
	</div>
</div>
<script src="../js/Common.js"></script>
<script src="../js/Sign.js"></script>
</body>
</html>