<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Student.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/ui-bootstrap-0.12.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
</head>
</head>
<body>
<div ng-app="myApp" ng-controller="student_ctrl">
    <script type="text/ng-template" id="evaluateModal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">
                <div style="width: 150px;">
                    <div class="input-group">
                        <span class="input-group-addon">Score</span>
                        <input ng-model="student_evaluate_score" type="text" class="form-control">
                    </div>
                </div>
            </h4>
            <br/>
            Comment:
        </div>
        <div id="student_evaluate_comment" contenteditable="true" class="modal-body">
        </div>
        <div class="modal-footer">
            <button ng-click="submit_evaluation(student_evaluate_score)" type="button" class="btn btn-default">submit
            </button>
        </div>
    </script>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu"
                    aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <h2 class="navbar-brand">T&L </h2>
        </div>
    </nav>
    <div class="box">
        <!--涓婂崐閮ㄥ垎-->
        <div class="header">
            <!--鍥剧墖-->
            <img src="../images/demo.jpg" height="140px" width="140px" class="img-rounded" style="margin-left:30px ;">
            <!--淇℃伅-->
            <div ng-init="load_info()" class="box_p" id="sinfo">
                <label for="name">Name</label>
                <div class="input-group" style="width: 100%;">
                    <p id="name"
                       style="border: 2px solid rgba(255,255,255,0.5);width: 100%;padding: 2px 3px;word-wrap : break-word ;word-break:break-all;overflow-y: auto;"></p>
                </div>
                <label for="tel">contact</label>
                <div class="input-group" style="width: 100%;">
                    <p id="tel"
                       style="border: 2px solid rgba(255,255,255,0.5);width: 100%;padding: 2px 3px;word-wrap : break-word ;word-break:break-all;overflow-y: auto;">
                        18270432571</p>
                </div>
                <label for="info">brief introduction</label>
                <div class="input-group" style="width: 100%;">
                    <p id="info"
                       style="border: 2px solid rgba(255,255,255,0.5);width: 100%;height: 37px;padding: 2px 3px;word-wrap : break-word ;word-break:break-all;overflow-y: auto;">
                        My name is Terry!</p>
                </div>
                <button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">
                    change
                </button>
                <!--change鎸夐挳鑱斿姩鐨勫脊鍑烘-->
                <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    <div style="width: 150px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">Edit information</span>
                                        </div>
                                    </div>
                                </h4>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <span class="input-group-addon">Name&nbsp;&nbsp;</span>
                                        <input ng-model="info_name" type="text" class="form-control" value="">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">contact</span>
                                        <input ng-model="info_contact" id="tel2" type="text"
                                               class="form-control" value="">
                                    </div>
                                    <br/>
                                    <label for="modify_info">brief introduction</label>
                                    <div class="input-group" style="width: 100%;">
                                        <p contenteditable="true" id="modify_info"
                                           style="border: 2px solid rgba(0,0,0,0.3);width: 100%;height: 50px;padding: 2px 3px;word-wrap : break-word ;word-break:break-all;overflow-y: auto;"></p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="submit_info(info_name, info_contact)">submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--涓嬪崐閮ㄥ垎-->
        <div class="content" id="selected_list" ng-init="init_selected_list()">
            <ul>
<li ng-repeat="c in courses">
<p class="pcourse"></p>
<div class="nei">
  <h4>{{c.courseName}}</h4>
  <p>{{c.courseInfo}}</p>
</div>
<div class="nei_bottom">
<p class="per100"></p>
<button ng-click="show_evaluate_modal($event)" data-id="33" class="evaluate_btn btn btn-primary ng-scope">evalute</button>
</div>
</li>

            </ul>
            <p class="addcourse" ng-click="addCourse()">+</p>

        </div>
    </div>
</div>
<script src="../js/Common.js"></script>
<script src="../js/Student.js"></script>
</body>
</html>
