<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口调用测试</title>
</head>
<script src="../js/angular.min.js"></script>
<script src="../js/jquery.min.js"></script>
<body>
<div ng-app="localtest" ng-controller="localtest_ctrl">

    <p>
        <button ng-click="doGet()">测试GET</button>
        /HelloWorld/{name} （参数 date:String） - http GET - 测试用接口
    </p>
    <div>测试结果：{{ret_get}}</div>

    <p>
        <button ng-click="doPost()">测试POST</button>
        /HelloWorld/{name} （参数 date:String） - http POST - 测试用接口
    </p>
    <div>测试结果：{{ret_post}}</div>

    <p>
        <button ng-click="doSignUp()">测试</button>
        ### 1. 注册（Sign up）
        `http POST /sign_up`
    </p>
    <div>测试结果：{{ret_doSignUp}}</div>

    <p>
        <button ng-click="doSignIn()">测试</button>
        ### 2. 登陆（Sign in）
        `http POST /sign_in`
    </p>
    <div>测试结果：{{ret_doSignIn}}</div>

    <p>
        <button ng-click="doSetPerson()">测试</button>
        ### 3. 设置个人信息（Set personal information）
        `http POST account/{account}`
    </p>
    <div>测试结果：{{ret_doSetPerson}}</div>

    <p>
        <button ng-click="doGetPerson()">测试</button>
        ### 4. 获取个人信息（Get personal information）
        `http GET account/{account}`
    </p>
    <div>测试结果：{{ret_doGetPerson}}</div>

    <p>
        <button ng-click="doAddCourse()">测试</button>
        ### 5. 开课（Add course - For teacher）
        `http POST course/add`
    </p>
    <div>测试结果：{{ret_doAddCourse}}</div>

    <p>
        <button ng-click="doManageCourse()">测试</button>
        ### 6. 管理课程（Manage courses - For all users）
        `http GET course/manage`
    </p>
    <div>测试结果：{{ret_doManageCourse}}</div>

    <p>
        <button ng-click="doSearchCourse()">测试</button>
        ### 7. 搜索课程（Search course）
        `http GET course/search`
    </p>
    <div>测试结果：{{ret_doSearchCourse}}</div>

    <p>
        <button ng-click="doGetCourse()">测试</button>
        ### 8. 获取课程信息（Get course details）
        `http GET course/detail/{courseID}`
    </p>
    <div>测试结果：{{ret_doGetCourse}}</div>

    <p>
        <button ng-click="doSelectCourse()">测试</button>
        ### 9. 选课（Select course）
        `http POST course/select/{courseID}`
    </p>
    <div>测试结果：{{ret_doSelectCourse}}</div>

<!------------------------------------------------------------------------------------------------------------------------------->

    <script src="localtest.js"></script>

</div>
</body>
</html>
